<% provide(:title, t('Home')) %>
<div id="myslide" class="carousel slide" data-ride="carousel" style="padding-top: 75px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myslide" data-slide-to="0" class="active"></li>
    <li data-target="#myslide" data-slide-to="1"></li>
    <li data-target="#myslide" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <%= image_tag("1.jpg", alt: "lost angenet" , width: "100%", height: "500") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("2.jpg", alt: "lost angenet" , width: "100%", height: "500") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("3.jpg", alt: "lost angenet" , width: "100%", height: "500") %>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myslide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"><%= t('Previous') %>%></span>
  </a>
  <a class="carousel-control-next" href="#myslide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"><%= t('Next') %></span>
  </a>
</div>
<div class="center jumbotron">
  <h1 class="text-center"><%= t('notifi') %></h1>
  <h2 class="text-center">
  <%= t('t-pre') %>
  </h2>
  <div class="divider"></div>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">$0 FREE,FOREVER.</div>
      <div class="card-body">
        <h5 class="card-title bg-gray-900 p-3 m-0">Trial</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">20 User</li>
          <li class="list-group-item">3 Archives</li>
          <li class="list-group-item">5 Client Projects</li>
        </ul>
        <p class="card-text">This is trial packet to use know report systems how can do,but you need buy bronze or gold packet to use full function.</p>
        <%= link_to "Buy now", "#", class: "btn btn-lg btn-primary card-footer bg-dark pb-2" %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">$5 PER MONTH</div>
      <div class="card-body">
        <h5 class="card-title bg-gray-900 p-3 m-0">Bronze</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">20 User</li>
          <li class="list-group-item">3 Archives</li>
          <li class="list-group-item">5 Client Projects</li>
          <li class="list-group-item">20 Cat Gifs</li>
        </ul>
        <p class="card-text">This packet support all,exceptal generate report </p>
        <%= link_to "Buy now", "#", class: "btn btn-lg btn-primary card-footer bg-dark pb-2" %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">$10 PER MONTH</div>
      <div class="card-body">
        <h5 class="card-title bg-gray-900 p-3 m-0">Gold</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">20 User</li>
          <li class="list-group-item">3 Archives</li>
          <li class="list-group-item">5 Client Projects</li>
          <li class="list-group-item">20 Cat Gifs</li>
          <li class="list-group-item">Unlimited Tools</li>
        </ul>
        <p class="card-text">This packet support all.</p>
        <%= link_to "Buy now", "#", class: "btn btn-lg btn-primary card-footer bg-dark" %>
      </div>
    </div>
  </div>
</div>
