<%= provide(:title, t("edit")) %>
<div id="content">
  <%= render "layouts/toggle_sidebar" %>
  <h1><%= t("Update") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label t(:email) %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.lablel t(:division_id) %>
      <%= f.text_field :division_id,class: 'form-control' %>
      <%= f.label t(:password) %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, t("Confirm") %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.label :avatar%>
      <%= f.file_field :avatars%>
      <%= f.submit t("Save"), class: "btn btn-primary bt1" %>
    <% end %>
  </div>
</div>
