
 <div id="content">
  <%= render 'layouts/toggle_sidebar' %>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t("Profile") %></h5>
        <p class="card-text">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <%= image_tag @user.avatars.thumb.url if @user.avatars?%>
              <div class="col-md-9 col-lg-9">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td><%= t("name") %></td>
                      <td><%= @user.name %></td>
                    </tr>
                    <tr>
                      <td><%= t("Email") %></td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <td><%= t("Department") %></td>
                      <td><%= t("Department") %></td>
                    </tr>
                    <tr>
                      <td><%= t("Division") %></td>
                      <td><%= t("Division") %></td>
                    </tr>
                    <tr>
                      <td><%= t("Role") %></td>
                      <td><%= t("Role") %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div class="card-footer">
        <a data-original-title=<%= t("BroadMessage") %> data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i></a>
        <span class="pull-right">
          <%= link_to edit_user_path(current_user), data: {toggle: "tooltip"}, class: "btn btn-sm btn-warning" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <a data-original-title=<%= t("Remove") %> data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
 </div>

