<%= provide(:title, @user.name) %>
<% if !current_user.admin? %>
<div id="content">
  <%= render 'layouts/toggle_sidebar' %>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t("Profile") %></h5>
        <p class="card-text">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <%= image_tag current_user.avatars.thumb.url if current_user.avatars?%>
              <div class="float-right">
                <%= render "follow_form" if logged_in? %>
              </div>
              <div class="col-md-9 col-lg-9">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td><%= t("name") %></td>
                      <td><%= current_user.name %></td>
                    </tr>
                    <tr>
                      <td><%= t("Email") %></td>
                      <td><%= current_user.email %></td>
                    </tr>
                    <tr>
                      <td><%= t("Department") %></td>
                      <td><%= t("Department") %></td>
                    </tr>
                    <tr>
                      <td><%= t("Division") %></td>
                      <td><%= current_user.division.name %></td>
                    </tr>
                    <tr>
                      <td><%= t("Role") %></td>
                      <td><%= current_user.role %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div class="card-footer">
        <a data-original-title=<%= t("BroadMessage") %> data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i></a>
        <span class="pull-right">
          <%= link_to edit_user_path(current_user), data: {toggle: "tooltip"}, class: "btn btn-sm btn-warning" do %>
          <i class="fa fa-edit"></i>
          <% end %>
          <a data-original-title=<%= t("Remove") %> data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="card">
    <%  @user.followers.each do |f| %>
      <% f.requests.each do |request| %>
        <table class="table">
          <thread class="thread-dark">
            <tr>Request_Type</tr>
            <tr>Check_in</tr>
            <tr>Check_out</tr>
            <tr>Reason</tr>
            <tr>Status</tr>
          </thread>
          <tbody>
            <tr>
              <td><%= request.requests_type.name %>
              <td><%= request.check_in %></td>
              <td><%= request.check_out %></td>
              <td><%= request.reason %></td>
              <td><%= request.status %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <%= will_paginate @requests %>
    <% end %>
  </div>
</div>
<% elsif %>
<%= render "admin" %>
<% end %>
