<div id="content">
  <%= render "layouts/toggle_sidebar" %>
  <div class="card">
    <div class="card-header text-center">
      <%= t("Skill_Manager") %>
    </div>
    <div class="card-content">
      <h3 class="text-center">chart skill all employ</h3>
      <%= pie_chart @user_skills.group(:user_id).all.size %>
      <% Skill.all.each do |s| %>
        <% @user_skill_store.store(s.name, UserSkill.where(skill_id: s.id).size) %>
      <% end %>
      <%= pie_chart @user_skill_store %>
      <h3 class="text-center">List my skill</h3>
      <% current_user.skills.each do |x| %>
        <p class: "list-group-item"><%= x.name %></p>
      <% end %>
    </div>
  </div>
</div>

