<div id="content">
  <%= render 'layouts/toggle_sidebar' %>
  <h1 class="my-4 text-center">Request For Leave Of Absense</h1>
  <div class="card text-center">
    <div class="card-header">Employment Detail</div>
    <div class="card-body">
      <form >
        <div class="form-inline">
          <label for="name" style="margin-right: 20px;">Employment Name:</label>
          <input type="name" class="form-control" value="<%= current_user.name%>" readonly>
        </div>
        <div class="form-inline" style="padding-top: 30px;">
          <label for="name" style="margin-right: 113px;">Division:</label>
          <input type="name" class="form-control" value="<%= current_user.name%>" readonly>
        </div>
        <div class="form-inline" style="padding-top: 30px;">
          <label for="name" style="margin-right: 113px;"">Position:</label>
          <input type="name" class="form-control" value="<%= current_user.name%>" readonly>
        </div>
      </form>
    </div>
  </div>
  <div class="card ">
    <div class="card-header text-center">Request Leave</div>
    <div class="card-body">
      <%= form_for @request do |f| %>
        <%= f.label :Leave_Type %>
        <%= f.select :requests_type_id, RequestsType.all.collect { |p| [ p.name, p.id ] }, include_blank: "--All--" %><br>
        <div class="field" style="display: none;" id="check_in">
          <%= f.label :Check_in ,style: "margin-right:87px" %>
          <%= f.text_field :check_in,require: :true,as: :string,class: "datepicker" %>
        </div>
        <div class="field" style="display: none;" id="check_out">
          <%= f.label :Check_out,style: "margin-right:87px" %>
          <%= f.text_field :check_out,require: :true,as: :string, class: "datepicker" %>
        </div>
        <%= f.label :Reason,style: "margin-right:87px;" %>
        <%= f.text_field :reason,require: :true,as: :string %><br>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

