<div>
  <%= form_for @division,url: admin_divisions_path  do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label t(:name) %><br>
    <%= f.text_field :name %><br>
    <%= f.label t(:manager_id) %><br>
    <%= f.select :manager_id, User.all.collect { |p| [ p.name, p.id ] }, include_blank: "--All--" %><br>
    <%= f.submit t("Create_division"), class: "btn btn-primary bt1" %>
  <% end %>
</div>
