<nav id="sidebar">
  <div class="sidebar-header">
    <h3>DRS</h3>
  </div>
  <div class="card change-backkgound">
    <div class="card-img-top text-center">
      <%= image_tag current_user.avatars.url(:thumb),class: "rounded-circle change_size_image" %>
    </div>
    <div class="card-body text-center">
      <%= render 'shared/stats' %>
      <%= link_to logout_path, method: :delete do%>
        <i class="fa fa-fw fa-sign-out"></i><%= t("signout") %>
      <% end %>
    </div>
  </div>
  <ul class="list-unstyled components">
    <li>
      <%= link_to t("dashboard"), reports_path,class: "dashboard" %>
    </li>
    <li>
      <%= link_to t("user"), user_path(current_user) %>
    </li>
    <li>
      <a href="#">Notification</a>
    </li>
    <li>
        <%= link_to "Skill Manager", new_user_skill_path %>
    </li>
    <li>
        <%= link_to "Request_day", new_request_path %>
    </li>
    <% if !current_user.manager? %>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Report</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <%= link_to t("new_report"), new_report_path %>
        </li>
        <li>
          <a href="#">Send Report</a>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>
