<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if logged_in? && !current_user.admin?%>
    <%= render 'layouts/header1' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer1' %>
    <% elsif %>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
